Repository Kedesh11/SEEG-API, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, tests, api, models, services, schemas, security, database, config, dependencies, ci-cd

.github/labeler.yml:

# Configuration des labels automatiques pour les PRs

documentation:
  - changed-files:
    - any-glob-to-any-file: ['docs/**', '*.md', 'README.*']

tests:
  - changed-files:
    - any-glob-to-any-file: ['tests/**', '**/*test*.py']

api:
  - changed-files:
    - any-glob-to-any-file: ['app/api/**']

models:
  - changed-files:
    - any-glob-to-any-file: ['app/models/**']

services:
  - changed-files:
    - any-glob-to-any-file: ['app/services/**']

schemas:
  - changed-files:
    - any-glob-to-any-file: ['app/schemas/**']

security:
  - changed-files:
    - any-glob-to-any-file: ['app/core/security/**']

database:
  - changed-files:
    - any-glob-to-any-file: ['app/db/**', 'alembic/**', '**/migrations/**']

config:
  - changed-files:
    - any-glob-to-any-file: ['app/core/config/**', '*.yml', '*.yaml', '*.toml', '.env*']

dependencies:
  - changed-files:
    - any-glob-to-any-file: ['requirements.txt', 'pyproject.toml', 'setup.py']

ci-cd:
  - changed-files:
    - any-glob-to-any-file: ['.github/**']

Amelioration de la route des calendriers des entretiens
  app/api/v1/endpoints/interviews.py
  app/db/migrations/versions/20251003_update_interview_slots.py
  app/models/__pycache__/interview.cpython-313.pyc
  app/models/interview.py
  app/schemas/__pycache__/interview.cpython-313.pyc
  app/schemas/interview.py
  app/services/interview.py
  docs/INTERVIEW_CALENDAR_API.md
  pyproject.toml
  scripts/test-interviews.ps1
  tests/interviews/README.md
  tests/interviews/__init__.py
  tests/interviews/test_interviews_endpoints.py
Labels: documentation, tests, api, models, services, schemas, database, config, dependencies

Refonte de l'API sur Azure
  .gitignore
  COMMANDS.md
  Dockerfile
  README.md
  app/core/config/config.py
  app/db/migrations/versions/20251009_merge_heads.py
  app/db/migrations/versions/20251209_add_performance_indexes.py
  azure-pipelines.yml
  docker-entrypoint.sh
  env.example
  live-logs.txt
  logging.yaml
  logs-backup.zip
  logs-current.zip
  requirements.txt
  scripts/create_recruiters.py
  scripts/create_recruiters_after_migration.py
  scripts/deploy-api-v2.ps1
  scripts/deploy-azure.ps1
  scripts/mise_a_jour.ps1
  scripts/run-migrations-azure.ps1
  scripts/run-migrations.ps1
  scripts/setup-cicd.ps1
  scripts/setup-monitoring.ps1
  scripts/test-deployment.ps1
  webapp-logs-fresh.zip
Labels: documentation, database, config, dependencies

mise a jour des tables job_offers et application
  .env.example
  README.md
  SEEG_API.postman_collection.json
  api_startup_20251010_150830.log.errors
  app/__pycache__/main.cpython-313.pyc
  app/api/v1/api.py
  app/api/v1/endpoints/applications.py
  app/api/v1/endpoints/jobs.py
  app/core/constants/__init__.py
  app/core/constants/mtp_limits.py
  app/db/migrations/versions/20251010_add_manager_and_reference_fields.py
  app/db/migrations/versions/20251010_add_mtp_questions_to_job_offers.py
  app/main.py
  app/models/__pycache__/application.cpython-313.pyc
  app/models/__pycache__/job_offer.cpython-313.pyc
  app/models/application.py
  app/models/job_offer.py
  app/schemas/__pycache__/application.cpython-313.pyc
  app/schemas/__pycache__/job.cpython-313.pyc
  app/schemas/application.py
  app/schemas/job.py
  app/services/__pycache__/application.cpython-313.pyc
  app/services/application.py
  env.local.template
  scripts/deploy-api-v2.ps1
  scripts/setup-local-env.ps1
Labels: documentation, api, models, services, schemas, database, config

Authentification fonctionnelle
  README.md
  app/__pycache__/main.cpython-313.pyc
  app/api/v1/endpoints/__pycache__/auth.cpython-313.pyc
  app/api/v1/endpoints/access_requests.py
  app/api/v1/endpoints/auth.py
  app/core/security/security.py
  app/core/validators.py
  app/db/migrations/versions/20251010_add_updated_at_to_access_requests.py
  app/db/migrations/versions/20251010_add_user_auth_fields.py
  app/db/migrations/versions/20251010_create_access_requests.py
  app/main.py
  app/models/__pycache__/base.cpython-313.pyc
  app/models/__pycache__/user.cpython-313.pyc
  app/models/access_request.py
  app/models/base.py
  app/models/user.py
  app/schemas/__pycache__/auth.cpython-313.pyc
  app/schemas/access_request.py
  app/schemas/auth.py
  app/services/__pycache__/auth.cpython-313.pyc
  app/services/access_request.py
  app/services/auth.py
  app/services/email.py
  fix_alembic.sql
  webapp-logs-fresh.zip
Labels: documentation, api, models, services, schemas, security, database

deploiment de l'API et des migration faites
  .dockerignore
  Dockerfile
  api_startup_20251010_150830.log.errors
  deploy-log.txt
  deployments/active
  deployments/pending
  deployments/settings.xml
  deployments/temp-26d07113/status.xml
  env.local.template
  fix_alembic.sql
  fix_alembic_azure.ps1
  fix_alembic_azure.sql
  logs-backup.zip
  logs-current.zip
  scripts/deploy-api-v2.ps1
  scripts/run-migrations.ps1
Labels: none

creation des endpoints public
  api-documentation.json
  app/api/v1/api.py
  app/api/v1/endpoints/public.py
  app/main.py
  app/schemas/job.py
Labels: api, schemas

Ameliorations des questions MTP et des routes forgot et reset password
  README.md
  app/api/v1/endpoints/jobs.py
  app/api/v1/endpoints/public.py
  app/db/migrations/versions/20251013_add_mtp_questions_to_job_offers.py
  app/db/migrations/versions/20251013_add_offer_status_column.py
  app/models/__pycache__/application.cpython-313.pyc
  app/models/__pycache__/job_offer.cpython-313.pyc
  app/models/application.py
  app/models/job_offer.py
  app/schemas/job.py
  app/services/auth.py
  app/services/email.py
  app/services/job.py
  azure-config.json
  scripts/apply-migrations-direct.py
  scripts/deploy-api-v2.ps1
  tests/test_mtp_questions_transformation.py
  tests/test_password_reset_email.py
  verify_user_data.py
Labels: documentation, tests, api, models, services, schemas, database

Gestion des offres faites et de candidature
  app/__pycache__/main.cpython-313.pyc
  app/api/v1/endpoints/__pycache__/auth.cpython-313.pyc
  app/api/v1/endpoints/__pycache__/users.cpython-313.pyc
  app/api/v1/endpoints/applications.py
  app/api/v1/endpoints/jobs.py
  app/api/v1/endpoints/migrations.py
  app/api/v1/endpoints/users.py
  app/db/query_optimizer.py
  app/main.py
  app/models/__pycache__/application.cpython-313.pyc
  app/models/__pycache__/job_offer.cpython-313.pyc
  app/schemas/__pycache__/application.cpython-313.pyc
  app/schemas/__pycache__/auth.cpython-313.pyc
  app/schemas/__pycache__/job.cpython-313.pyc
  app/services/__pycache__/application.cpython-313.pyc
  app/services/__pycache__/auth.cpython-313.pyc
  app/services/__pycache__/job.cpython-313.pyc
  app/services/application.py
  app/services/evaluation.py
  app/services/job.py
  apply_migrations.sql
  migrate_local.py
  scripts/apply-migrations-direct.py
  scripts/migrate-azure-production.py
  scripts/setup-cicd.ps1
  scripts/setup-local-env.ps1
  scripts/setup-monitoring.ps1
  tests/test_api_quick.py
  tests/test_application_update_and_pdf.py
  tests/test_applications_production.py
  tests/test_candidate_application.py
  tests/test_complete_flow_local.py
  tests/test_document_upload.py
  tests/test_job_offers_crud copy.py
  tests/test_job_offers_crud.py
  tests/test_job_offers_production.py
  tests/test_job_routes_complete.py
  tests/test_single_application.py
  verify_user_data.py
Labels: tests, api, models, services, schemas, database

notification et reponses mail
  .env.azure
  LOGGING_SYSTEM_GUIDE.md
  add_primary_key_to_drafts.py
  app/__pycache__/main.cpython-313.pyc
  app/api/v1/endpoints/__pycache__/auth.cpython-313.pyc
  app/api/v1/endpoints/applications.py
  app/api/v1/endpoints/auth.py
  app/core/__pycache__/exceptions.cpython-313.pyc
  app/core/error_handlers.py
  app/core/exceptions.py
  app/core/logging/business_logger.py
  app/core/logging/decorators.py
  app/db/migrations/versions/20251014_add_timestamps_to_drafts.py
  app/db/query_optimizer.py
  app/middleware/logging_middleware.py
  app/models/__pycache__/application.cpython-313.pyc
  app/services/__pycache__/application.cpython-313.pyc
  app/services/application.py
  app/services/notification_email_manager.py
  app/services/notification_manager.py
  app/services/pdf.py
  app/utils/json_utils.py
  apply_draft_migration.py
  debug_pdf_success.pdf
  test_draft_directly.py
  test_isolated.pdf
  tests/test_application_pdf_export.py
  tests/test_draft_detailed.py
  tests/test_notifications_flow.py
  tests/test_notifications_fresh.py
  tests/test_pdf_direct.py
  tests/test_pdf_export_complete.py
  tests/test_pdf_isolated.py
  tests/test_real_user_notifications.py
Labels: documentation, tests, api, models, services, database, config

notifications operationnelles
  app/api/v1/endpoints/interviews.py
  app/services/interview.py
  app/services/notification.py
  app/services/notification_email_manager.py
  debug_pdf_success.pdf
  tests/test_complete_system.py
  tests/test_interview_direct.py
  tests/test_interview_scheduling.py
  tests/test_interview_simple.py
Labels: tests, api, services

Mise a jour des reponses des statuts selon la Conformité REST (RFC 7231)
  app/api/v1/endpoints/__pycache__/auth.cpython-313.pyc
  app/api/v1/endpoints/__pycache__/users.cpython-313.pyc
  app/api/v1/endpoints/applications.py
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/emails.py
  app/api/v1/endpoints/jobs.py
  app/api/v1/endpoints/migrations.py
  app/api/v1/endpoints/users.py
  app/models/__pycache__/application.cpython-313.pyc
  app/models/application.py
  app/schemas/__init__.py
  app/schemas/__pycache__/__init__.cpython-313.pyc
  app/schemas/__pycache__/application.cpython-313.pyc
  app/schemas/application.py
  app/services/__pycache__/application.cpython-313.pyc
  app/services/application.py
  apply_migrations_azure.py
  apply_migrations_local.py
  test_applications_post_local.py
  test_applications_production.py
  test_final_local.py
  test_production_complete.py
  test_recruiter_access.py
  test_user_fields_local.py
  test_user_update_fields.py
  test_users_by_id.py
Labels: tests, api, models, services, schemas

ajout de la table log_email
  LOGGING_SYSTEM_GUIDE.md
  app/api/v1/endpoints/applications.py
  app/api/v1/endpoints/migrations.py
  app/db/migrations/sql/20251016_create_email_logs.sql
  app/db/migrations/sql/rollback/20251016_create_email_logs.sql
  app/schemas/application_detail.py
  app/services/__pycache__/application.cpython-313.pyc
  app/services/__pycache__/auth.cpython-313.pyc
  app/services/application.py
  app/services/auth.py
  apply_draft_migration.py
  apply_migrations.sql
  apply_migrations_azure.py
  apply_migrations_production.py
  migrate_local.py
  scripts/migrate-azure-production.py
  scripts/migrate_database_azure.py
  scripts/test-deployment.ps1
  test_applications_post_local.py
  test_applications_production.py
  test_draft_directly.py
  test_final_local.py
  test_isolated.pdf
  test_production_complete.py
  test_recruiter_access.py
  test_users_by_id.py
Labels: documentation, tests, api, services, schemas, database

amelioration du signup
  app/api/v1/endpoints/__pycache__/auth.cpython-313.pyc
  app/api/v1/endpoints/applications.py
  app/api/v1/endpoints/auth.py
  app/schemas/__pycache__/application.cpython-313.pyc
  app/schemas/application.py
  app/services/__pycache__/application.cpython-313.pyc
  app/services/__pycache__/auth.cpython-313.pyc
  app/services/application.py
  app/services/auth.py
  scripts/README_MIGRATIONS.md
  scripts/migrate_database_local.py
  tests/fixtures/__init__.py
  tests/test_application_with_documents_complete.py
  tests/test_signup_internal_no_seeg_email.py
Labels: tests, api, services, schemas

migration alembic faite
  .cursor/commands/docs.md
  README.md
  RESUME_SESSION.md
  app/api/v1/endpoints/applications.py
  app/core/config/config.py
  app/db/migrations/versions/20251010_add_manager_and_reference_fields.py
  app/db/migrations/versions/20251010_add_mtp_questions_to_job_offers.py
  app/db/migrations/versions/20251013_add_offer_status_column.py
  app/db/migrations/versions/20251014_add_timestamps_to_drafts.py
  app/db/migrations/versions/48693409b776_merge_all_heads.py
  app/models/__pycache__/candidate_profile.cpython-313.pyc
  app/schemas/__pycache__/application.cpython-313.pyc
  app/services/__pycache__/application.cpython-313.pyc
  run_tests.py
  scripts/README_MIGRATIONS.md
  test-results-production.xml
  test_local_mtp.py
  test_production_candidature.py
  test_pydantic_validation.py
  tests/README_TESTS.md
  tests/fixtures/application_fixtures.py
  tests/fixtures/auth_fixtures.py
  tests/fixtures/db_fixtures.py
  tests/fixtures/http_fixtures.py
  tests/test_access_requests_complete.py
  tests/test_application_with_json_refs.py
  tests/test_applications_complete.py
  tests/test_auth_complete.py
  tests/test_job_offers_complete.py
  tests/test_notifications_complete.py
  tests/test_users_complete.py
Labels: documentation, tests, api, models, services, schemas, database, config

chore: Clean up temporary test and debug files
  RESUME_SESSION.md
  add_primary_key_to_drafts.py
  run_tests.py
  test-results-production.xml
  test_local_mtp.py
  test_production_candidature.py
  test_pydantic_validation.py
Labels: documentation, tests

mise a jour de certains endpoints
  CLEANUP_REPORT.md
  README.md
  RESUME_ETL.md
  SCHEMAS_COMPLETE_SUMMARY.md
  SCHEMAS_IMPROVEMENTS_GUIDE.md
  app/api/v1/endpoints/__pycache__/auth.cpython-313.pyc
  app/api/v1/endpoints/auth.py
  app/api/v1/endpoints/jobs.py
  app/schemas/__pycache__/application.cpython-313.pyc
  app/schemas/__pycache__/interview.cpython-313.pyc
  app/schemas/__pycache__/job.cpython-313.pyc
  app/schemas/__pycache__/seeg_agent.cpython-313.pyc
  app/schemas/__pycache__/user.cpython-313.pyc
  app/schemas/access_request.py
  app/schemas/application.py
  app/schemas/application_detail.py
  app/schemas/application_detailed.py
  app/schemas/interview.py
  app/schemas/job.py
  app/schemas/seeg_agent.py
  app/schemas/user.py
  app/services/__pycache__/user.cpython-313.pyc
  app/services/user.py
  scripts/restart_api_with_etl.ps1
  test_users_endpoint_azure.py
  test_users_id_endpoint.py
  tests/test_api_env.py
  tests/test_api_production_simple.py
  tests/test_complete_etl_flow.py
  tests/test_etl_webhook.py
  tests/verify_blob_storage.py
Labels: documentation, tests, api, services, schemas

replace docker entry
  README.md
  app/__pycache__/__init__.cpython-313.pyc
  app/__pycache__/main.cpython-313.pyc
  app/api/v1/endpoints/users.py
  app/core/__pycache__/dependencies.cpython-313.pyc
  app/core/config/config.py
  app/core/dependencies.py
  app/db/__pycache__/__init__.cpython-313.pyc
  app/db/__pycache__/database.cpython-313.pyc
  docker-entrypoint.sh
  requirements.txt
  scripts/create_first_admin_online.py
  scripts/test_keyvault_secret.py
  scripts/verify_admin_online.py
Labels: documentation, tests, api, database, config, dependencies

Amelioration du dockerfile
  Dockerfile
  app/core/__pycache__/dependencies.cpython-313.pyc
  docker-entrypoint.sh
Labels: none

Suppression du dockerentry
  docker-entrypoint.sh
Labels: none
